# Data and Outputs
public_dataset/
outputs/
submission/

# Python & Jupyter
__pycache__/
.ipynb_checkpoints/
.ipython/
.jupyter/
*.ipynb

# Environment & OS
.cache/
.conda/
.config/
.local/
.npm/
.nv/
.bashrc
